body {
    color: white;
}

.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    padding: 10px;
}
.grid-item {
    /* background-color: var(--darkgrey); */
    padding: 20px;
    /* text-align: center; */
}

.grid-item div {
    text-align: initial;
}

select option {
    color: grey;
}

.add-vehicle-form {
    grid-template-columns: auto auto auto;
    margin: 78px;
    padding: 63px;
    background: var(--dark);
    box-sizing: border-box;
}
