:root {
  --green : #4CAF50; 
  --orange : #ffa500;
  --white : #ffffff;
  --dark : #4f4f51;
  --darkgrey : #2c2b2b;
  --grey : #b3b3b3;
  --black : #000000;
  --red : #e90303;
  --yellow : #ffa500;
}

body {
  background: var(--black);
}
.App {
  text-align: center;
}

input, select, option {
  /* width: -webkit-fill-available; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  box-sizing: border-box;
  background: var(--darkgrey);
  color: var(--white);
}

.button {
  border: none;
  border-radius: 5px;
  color: var(--white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 2px;
}

.add-btn {
  background: var(--green);
}

.reset-btn {
  background: var(--orange);
}

.close-btn {
  background-color: var(--red);
}

.trash-icon:hover {
  color: var(--red);
}

.edit-icon:hover {
  color: var(--yellow);
}

.add-icon:hover {
  color: var(--green);
}

.pointer {
  cursor: pointer;
}

a {
  color: inherit;
}
