:root {
  --green : #4CAF50; 
  --orange : #ffa500;
  --white : #ffffff;
  --dark : #4f4f51;
  --darkgrey : #2c2b2b;
  --grey : #b3b3b3;
  --black : #000000;
  --red : #e90303;
  --yellow : #ffa500;
  --blue : #4f99ff;
}

body {
  background: var(--black);
}
.App {
  text-align: center;
}

input, select, option {
  /* width: -webkit-fill-available; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  box-sizing: border-box;
  background: var(--darkgrey);
  color: var(--white);
}

.button {
  border: none;
  border-radius: 5px;
  color: var(--white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 2px;
}

.green-btn {
  background: var(--green);
}

.orange-btn {
  background: var(--orange);
}

.red-btn {
  background-color: var(--red);
}

.blue-btn {
  background-color: var(--blue);
}

.trash-icon:hover {
  color: var(--red);
}

.edit-icon:hover {
  color: var(--yellow);
}

.add-icon:hover {
  color: var(--green);
}

.pointer {
  cursor: pointer;
}

a {
  color: inherit;
}

#scenarios, #vehicles {
    
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#scenarios td, #scenarios th, #vehicles td, #vehicles th {
  padding: 15px;
}

#scenarios tr, #vehicles tr{
  background-color: #f2f2f2;
  color: var(--black);
  border: 1px solid var(--black); 
}

#scenarios tr:hover, #vehicles tr:hover {background-color: #ddd;}

#scenarios th, #vehicles th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--dark);
  color: white;
}

.isInvisible {
  display: none;
}
